<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fengling.gugutask.dao.TagMapper">

    <resultMap id="TagResultMap" type="org.fengling.gugutask.pojo.Tag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!-- 自定义查询 -->
    <!-- 自定义通过 userId 查询标签的 SQL 语句 -->
    <select id="findTagsByUserId" resultType="org.fengling.gugutask.pojo.Tag">
        SELECT *
        FROM tags
        WHERE user_id = #{userId}
    </select>
</mapper>
