<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.fengling.gugutask.dao.TaskMapper">
    <resultMap id="TaskResultMap" type="org.fengling.gugutask.pojo.Task">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="detail" property="detail"/>
        <result column="priority" property="priority"/>
        <result column="date1" property="date1"/>
        <result column="date2" property="date2"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="user_id" property="userId"/>
        <result column="type_id" property="typeId"/>
    </resultMap>

    <!-- 查询单个任务 -->
    <select id="findTaskById" resultMap="TaskResultMap">
        SELECT * FROM tasks WHERE id = #{id}
    </select>

    <!-- 查询所有任务 -->
    <select id="findAllTasks" resultMap="TaskResultMap">
        SELECT * FROM tasks
    </select>

    <!-- 插入任务-->
    <insert id="insertTask" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tasks(name, detail, priority, date1, date2, status, user_id, type_id)
        VALUES(#{name}, #{detail}, #{priority}, #{date1}, #{date2}, #{status}, #{userId}, #{typeId})
    </insert>


    <!-- 更新任务 -->
    <update id="updateTask">
        UPDATE tasks
        SET name = #{name}, detail = #{detail}, priority = #{priority}, date1 = #{date1},
            date2 = #{date2}, status = #{status}, updated_at = NOW(), user_id = #{userId}, type_id = #{typeId}
        WHERE id = #{id}
    </update>

    <!-- 删除任务 -->
    <delete id="deleteTask">
        DELETE FROM tasks WHERE id = #{id}
    </delete>
</mapper>
